.navbar-default {
    background: #fff;
    border: 0;
    font-family: Poppins
}

.navbar-brand {
    font-size: 20px;
    color: #000;
    font-weight: bold
}

#cover {
    margin-top: auto;
    text-align: center;
    height: 900px;
}

i {
    font-size: 50px;
    margin: 1%;
    color: black;
}

section {
    flex-direction: column
}

.row {
    margin-top: 1%;
    margin-bottom: 1%;
}

.card-img {
    opacity: 1;
    transition: .5s ease;
}

.card:hover .card-img {
    opacity: .5;
}

.card-img-overlay {
    opacity: 0;
    transition: .5s ease;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

img {
    width: 100%
}

footer {
    text-align: center
}

.triviaBackground {
    background-image: url(images/TriviaGame.PNG);
}

.bamazonBackground {
    background-image: url(images/bamazonHomeScreen.PNG);
}

.liriBackground {
    background-image: url(images/liriapp.PNG);
}

.modal {
    text-align: center
}

.projectDesc {
    text-align: center
}

/* on the bottom */
#footer {
}