/* https://www.fabric.com/buy/0380647/dupioni-silk-fabric-hot-pink */
/* Use this for the background */
html, body {
    height: 100%;
}

body {
    margin: auto;
}

header {
    margin-bottom: auto;
}

.height100 {
    height: 100%;
}

.d-flex {
    display: flex;
    flex-direction: column;
}
.inner-cover {
    padding: 0 1.5em;
    text-align: center;
}

.navbar-brand, .nav-item, a, .carousel-control-next, .carousel-control-prev  {
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.carousel {
    margin-top: 1%;
}

.carousel-caption {
    background-color: rgb(166,167,170, .9);
}

.cardDeck {
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card,.card-body {
    max-height: 100%;
}

label {
    float: left;
}

footer {
    margin-top: auto;
    color: grey;
    text-align: center;
}