body, html {
    font-family: Poppins;
    background-color: rgb(114, 132, 168);
    color: white;
}

.introCard {
    background-color: rgb(169,179,206);
    border: 0;
}

.coverPageTxt {
    background-color: rgb(169,179,206);
    text-align: center;
    height: 600px;
}

.myCoverContent {
    margin-top: 15%;
}

.avatarImg {
    width: 100%;
    background-color: rgb(169,179,206);
}

i {
    font-size: 50px;
    margin: 1%;
}

.nav-toggler {
    font-size: 20px;
}

section {
    flex-direction: column
}

.uberLogo {
    margin-bottom: 1%
}

.row {
    margin-top: 1%;
    margin-bottom: 1%;
}

.card-img {
    opacity: 1;
    transition: .5s ease;
}

.card:hover .card-img {
    opacity: .5;
}

.card-img-overlay {
    opacity: 0;
    transition: .5s ease;
}

.card:hover .card-img-overlay {
    opacity: 1;
    margin-top: 20px;
    background-color:rgb(79, 124, 172, .8)
}

img {
    width: 100%
}

.card, .card-img, .card-img-overlay {
    height: 200px;
}

.footer {
    margin-top: 5%;
    text-align: center;
}

.projectDesc {
    text-align: center
}

.fa-apple {
    font-size: 150px;
}

.parallax {
    text-align: center;
}

.aboutMeHeader {
    color: white;
    padding-top: 120px;
}

.schoolRow {
    text-align: center;
}

.schoolCard {
    border: 0;
    background-color: rgb(114, 132, 168);;
}

.text-muted {
    color: rgb(169, 179, 206)!important;
}

.card-link {
    color: rgb(124, 222, 220)!important;
}

.bg1 {
    background: linear-gradient(
        rgba(62, 29, 96, 0.7), 
        rgba(62, 29, 96, 0.7)
      ), url(images/ATXskyline.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background: linear-gradient(
        rgba(62, 29, 96, 0.45), 
        rgba(62, 29, 96, 0.45)
      ), url(images/PITskyline.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomIcon {
    color: rgb(169, 179, 206)!important;
}

.coverRow {
    background-color: rgb(169,179,206);
    margin: 0;
}

.avatarImg {
    margin-bottom: 1%
}

/* on the bottom */

@media only screen and (max-width: 600px) {
    .coverPageTxt{
        margin-top: 20%;
    }
    .card {
        margin: auto;
        margin-top: 1%;
    }
    .appleRow, .uberRow {
        text-align: center
    }
}